.panel {
    display: inline-block;
    background-color: $background-color;
    // min-width: 370px;
    // max-width: 370px;
    width : 360px;
    height: 550px;
    margin: 10px;
    @include border_style(5px, 3px, $tab-color);
    overflow: auto;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    .panel-body {
        padding: 15px;
    }
    .panel-heading {
      padding: 10px 15px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
}