 .big-img{  
   @include size(300px);
   @include border_style(300px, 2px, $border-color);
   margin-left: auto;
   margin-right: auto;
   margin-top: 25px;
   margin-bottom: 25px;
   display: block;
}