.small-box {
	background-color: $tab-color;
    color: $tab-font-color;
    @include border_style(0px, 1px, $border-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    @include font(16px);
    @include horizontal-align();
}
