<!DOCTYPE html>
<html>
	<head>
		<title>Welcome to your GitDash</title>
	</head>
	<body class = "container">
		<% if (!user) { %>
			<p >
			<a href="/login" class="button">Log In</a>
			</p>
		<% } else { %>
			<p>
			<div class="container">
			<a href="/logout" class="button">Log Out</a>
			</div>
			</p>
		<% } %>
		<%- body %>
	</body>
</html>
