<!DOCTYPE html>
<html>
	<head>
		<title>Welcome to your GitDash</title>
	</head>
	<body class = "container">
		<% if (!user) { %>
			<div class="jumbotron container"> 
			<p>
			<a href="/">Home</a> | 
			<a href="/login">Log In</a>
			</p>
			</div>
		<% } else { %>
			<p>
			<div class="container ">
			<a href="/" class="button">Home</a>  
			<a href="/account" class="button">Account</a>  
			<a href="/logout" class="button">Log Out</a>
			</div>
			</p>
		<% } %>
		<%- body %>
	</body>
</html>
